<form method="post">
    <label for="fname">Name Paper:</label><br>
    <input type="text" id="name_paper" name="name_paper"><br>

    <label for="lname">Name Author:</label><br>
    <input type="text" id="name_author" name="name_author"><br>

    <label for="lname">ISBN:</label><br>
    <input type="text" id="isbn" name="isbn"><br>

    <label for="lname">Số trang:</label><br>
    <input type="text" id="sotrang" name="sotrang"><br>

    <label for="lname">Year:</label><br>
    <input type="text" id="year" name="year"><br><br>

    <input type="submit" value="Submit">
</form>