<form method="post">
    <label for="fname">Name Paper:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last Author:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
</form>